# Django Core
django==5.0.3
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-filter==24.2
django-anymail==10.3
python-decouple==3.8

# Authentication & Security
djangorestframework-simplejwt==5.3.1
cryptography==42.0.5
pyotp==2.9.0

# PDF Generation & QR Code
reportlab==4.1.0
qrcode==7.4.2

# Utils
python-dateutil==2.9.0
phonenumbers==8.13.36
gunicorn==21.2.0

# Development & Testing
#pytest==8.1.1
#pytest-django==4.8.0
#factory-boy==3.3.0
#black==24.3.0
#flake8==7.0.0
#django-sslserver==0.22
django-grappelli==3.0.8
